*.sublime-project
*.sublime-workspace
*.private
xmonad/*.hi
xmonad/*.o
xmonad/*.errors
xmonad/*x86*
atom/storage
atom/packages
atom/.apm
/bin/db-dev.sh
/bin/db-etho.sh
/bin/db-local.sh
/bin/db-pp.sh
/bin/db-prod.sh
/bin/dump.dump
/bin/prod-dump.sh
/bin/restore-to-dev.sh
/bin/android-sdk
