[Desktop Entry]
Type=Application
Terminal=false
Name=Firefox_Work
Comment=Firefox
Icon=firefox-work
Exec=firefox-work.sh about:blank
StartupWMClass=firefox-work
Categories=GNOME;GTK;Network;WebBrowser;
