[Desktop Entry]
Type=Application
Terminal=false
Name=Firefox_Personal
Comment=Firefox
Icon=firefox-personal
Exec=firefox-personal.sh about:blank
StartupWMClass=firefox-personal
Categories=GNOME;GTK;Network;WebBrowser;
